.quackBox {
    padding-bottom: 10px;
    border-bottom: 5px solid grey;
    padding-right: 10 px;
}

.quackBox > form {
    display: flex;
}

.quackBox_input {
    padding: 20px;
    display: flex;
}

.quackBox_input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 18px;
    border: none;
}

.quackButton {
    margin-left: auto !important;
    margin-right: 5px;
}