.quackBox {
    padding-bottom: 10px;    
    padding-right: 10 px;
}

.quackBox > form {
    display: flex;
    background-color: grey;
}

div.quackBox_input {
    padding: 20px;
    display: flex;
    width: 100%;
}

.quackBox_input > input {
    flex: 1;
    margin-left: 20px;
    margin-right: 7px;
    font-size: 18px;  
    border: 2px solid black;
    border-radius: 7px;  
}

